<nav>
    <ul>
        <li>
            <a href="/index">Inicio</a>
        </li>
    </ul>
    <ul>    
         <li>
            <a href="/Productos"> Productos</a>
        </li>   
    </ul>
    <ul>    
        <li>
            <a href="/contactos">Quien soy y como comprar</a>
        </li>
    </ul>
    <ul>    
      <li>
          <a href="/iniciarsecion">ingresar</a>
      </li>
  </ul>
</nav>