<div>

</div><ul class="redes">
    <li>
      <a href="https://www.instagram.com/dulce__gigi/"><img src="./img/inicio/instagram.png" width="40" alt=""></a>
    </li>
    <li>
      <a href="https://api.whatsapp.com/message/ZIINA4TNJG5NG1"><img src="./img/inicio/whatsapp.png" width="40" alt=""></a>
    </li>
    <li>
      <a href="https://www.facebook.com/dulcesgigi"><img src="./img/inicio/facebook.png" width="40" alt=""></a>
    </li>
    <li>
        <a href="dulces_Gigi@hotmail.com"> <img src="./img/inicio/gmail.png" width="40" alt=""></a>
    </li>
  </ul>
</div>