<!DOCTYPE html>
<html lang="en">
<%-include ('./parcials/head.ejs') %>
<link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1>Este es la pag principal</h1>
    <p>hola <%=llamado%></p>
</body>
</html>