body{
    background-color: rgb(255, 112, 184);
}
 

nav{
    display: flex;
    justify-content: flex-end;
   padding: 1px 80px 1px 0px;
   
   border-color: black;
   border-width: 1px;
   border-style: solid;
   background-color: darkturquoise;
}
a{
    list-style-type: none;
}

#imgPrincipa{
    display: flex;
    justify-content: center;
    margin: 3px;
}

footer{
display: flex;
justify-content: space-around;
background-color:darkturquoise;
margin: 0px;
padding: 1%;
}
.pedidos{
    font-weight: 900;
    font-size: xx-large;  
}
.pclientes{
    font-weight: 900;
    font-size: xx-large;
}
.carta{
    background-color: darkturquoise;
border-color: black;
border-style: solid;
border-width: 1px;
margin-left: 50px;
}
.pedidosdestacados{
    display: inline-flex;
    flex-wrap: wrap;
    border-color: bisque;
    border-style: dotted;
    padding: 2%;
    background-color: #2222222e;
}
.comentarios{
    display: inline-flex;
    flex-wrap: wrap;
    border-color: bisque;
    border-style: dotted;
    padding: 2%;
    background-color: #2222222e;
}
.card{
background-color: darkturquoise;
border-color: black;
border-style: solid;
border-width: 1px;
margin-left: 50px;

}
.card-img-top{
width: 90%;
margin: 10px;
}
h3{
    margin: 10px;
}
.card-text{
    margin: 10px;
}

.redes{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 1%;
}
