<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../parcials/head.ejs')%>
</head>
<body>
  <header>
    <%-include('../parcials/nav.ejs')%>
</header>
<main class="display">
    <section class="logo">
        <img src="./img/inicio/logo.png" width="75%" alt="">
        <p>
            Para comprar es muy sencillo solo debe elegir una tarta, pastel, alfajor, o lo que decees recordar su nombre  y tocar algun icono de las redes sociales, cual te llevaran a un sitio donde puedadas hacer tus pedidos hablando directamente con migo "Gisell"   
        </p>
    </section>
    <section class="presentacion">
    <h1>¿Quien soy?</h1>
    <P>Me llamo Gisell, Soy una emprendedora que busca crecer en el rumbo de pasteleria. Tengo 39 años y desde los 25 me dedico a preparate tardes dulces con mis pasteles. Actualmente trabajo desde mi casa pero mi mayor sueño es expandirme en un local.  </P>
    <img class="gisell"  src="./img/inicio/gisell.PNG"  width="50%" alt="">
    </section>
    </main>
    <section class="comprar">
    <div>
    <ul>
        <li>recuerda que podes abonar en efectivo, mercado pago, o transferencia bancaria</li>
    </ul>
    <ul>
        <li>podes retirar en domilio o llevamos al lugar </li>
    </ul>
    <ul>
        <li>estamos trabajando para ventas online</li>
    </ul>
    </div>
<div>
    <%-include('../parcials/redes.ejs')%>
  </div>
      <%-include('../parcials/footer.ejs')%>
  </body>
  </html>