<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../parcials/head.ejs')%>
</head>
<body>
    <header> 
   <%-include('../parcials/nav.ejs')%>
    </header>
    <section class="formulario">
    <form>
        <input placeholder="E-mail o usuario"/>
        <input type="password" placeholder="contraseña"/>
        <button>iniciar sesion</button>
        <button>registrarme</button>
    </form>
</section>
</body>
</html>